{% extends "base.html" %}

{% block content %}

    <div class=bar_header>Create a New Account</div>

    <form action="/tfbNewUser" method="post">
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </p>
        <p>
            <button type="submit">
                Submit
            </button>
        </p>
    </form>

{% endblock %}