/* ======= Styles for The Flailing Baker ======= */
/* ======= Extending styles_all.css ======= */

/* ======= Site Color Scheme ======= */

:root {
    --body-background-color: #ffe4e1;
    --main-title-color: #556b2f;
    --nav-item-color: #00008b;
    --nav-item-hover-color: #ff6347;
}

/* ======= Site Background Color ======= */

body {
    /* Extend background color to entire canvas */
    /* background-color: #ffff70; */
    background-color: var(--body-background-color);
}

/* ======= Page Layout ======= */

/* ======= Title and nav bar ======= */

#main_title {
    color: var(--main-title-color);
}

.nav_item a {
    color: var(--nav-item-color);
  }

.nav_item a:hover {
    color: var(--nav-item-hover-color);
}

/* ======= Subheaders ======= */

/* extends styles_all.css
.bar_header {   
    color: var(--main-title-color);
} */

/* ======= Home page image ======= */
.loaf {
    margin-top: 10px;
    text-align: center; 
}

/* ======= Design with Tables ======= */
.table_header {
    background-color: #00008b;
    color:#ffe4e1;
    padding: .5rem;
}

.table_intro {
    padding: .5rem;
}

/* ======= Design with Divs ======= */
.toolbox {
    padding: 10px;
}

.recipebox {
    padding: 10px;
}

.item_name {
    border-top: 1px solid black;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem;
}

.item_desc {
    font-size: medium;
    font-weight: normal;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}

.item_notes {
    font-size: medium;
    font-weight: normal;
    padding: 1rem;
}

.notesbox {
    border: 1px solid darkred;
    margin: 1rem 3rem;
}

.notesbar {
    background-color: darkred;
    color: white;
    font-size: medium;
    padding-left: 1rem;
}

.subbox {
    font-size: large;
    margin: 1rem 2rem;
}

/* ======= Editing Cells in Table ======= */

td {
    vertical-align: top;
}

.btn {
    border: 1px solid transparent;
    border-radius: .3rem;
    cursor: pointer;
    font-size: .8rem;
    line-height: .5;
    padding: .5rem .5rem;
}
.btn-save {
    background-color: lime; 
}
.btn-save:hover {
    background-color: limegreen; 
}
.btn-save:active {
    background-color: green; 
}
.btn-cancel {
    background-color: hotpink;
}
.btn-cancel:hover {
    background-color: #f0278c;
}
.btn-cancel:active {
    background-color: red;
}
.button-toolbar {
    margin-top: 1rem;
}
.add-row-button {
    background-color: black;
    color: lightgoldenrodyellow;
    cursor: pointer;
}