/* ======= Styles for The Flailing Baker ======= */
/* ======= Extending styles_all.css ======= */

/* ======= Site Color Scheme ======= */

:root {
    --body-background-color: #ffe4e1;
    --main-title-color: #556b2f;
    --nav-item-color: #00008b;
    --nav-item-hover-color: #ff6347;
}

/* ======= Site Background Color ======= */

body {
    /* Extend background color to entire canvas */
    background-color: var(--body-background-color);
}

/* ======= Site Fonts ======= */
#main_title {
    font-family: "Libre Baskerville", Garamond, "Times New Roman", serif;
}
#nav_bar {
    font-family: "Spectral", Garamond, "Times New Roman", serif;
}
/* Overwrite styles_all.css */
.bar_header {
    font-family: "Libre Baskerville", Garamond, "Times New Roman", serif;
}
#main_section {
    font-family: "Spectral", Garamond, "Times New Roman", serif;
}

/* ======= Title and nav bar ======= */

#main_title {
    color: var(--main-title-color);
}

.nav_item a {
    color: var(--nav-item-color);
  }

.nav_item a:hover {
    color: var(--nav-item-hover-color);
}

/* ======= Subheaders ======= */

/* extends styles_all.css
.bar_header {   
    color: var(--main-title-color);
} */

/* ======= Home page image ======= */

.loaf {
    margin-top: 10px;
    text-align: center; 
}

.loaf img {
    height: auto;
    max-width: 100%;
}

/* ======= Table display for editing ======= */
.table_header {
    background-color: #00008b;
    color:#ffe4e1;
    padding: .5rem;
}

/* ======= Recipe and Tools Display ======= */

.articleIntro {
    padding: .5rem;
}

.articleNav {
    margin-bottom: 1.5rem;
    padding: .5rem;
}

.articleBtn {
    float: right;
    margin-left: 1rem;
}

.collectionBox {
    padding: 10px;
}

.itemBox {
    border-top: 1px solid black;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem;
}

.itemDesc {
    font-size: medium;
    font-weight: normal;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}

.itemNotes {
    font-size: medium;
    font-weight: normal;
    padding-right: 2rem;
}

.notesBox {
    border: 1px solid darkred;
    margin: 1rem 3rem;
}

.notesBar {
    background-color: darkred;
    color: white;
    font-size: small;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
}

.notesListBody {
    padding-right: 1.5rem;
}

.subBox {
    font-size: large;
    margin: 1rem 2rem;
}

.metricsBox {
    font-size: medium;
    font-weight: normal;
    margin: 1rem 0rem;
}

.varBox {
    font-size: medium;
    font-weight: normal;
    margin: 1rem 0rem;
}

/* ======= Editing Cells in Table ======= */

td {
    vertical-align: top;
}

.btn {
    border: 1px solid transparent;
    border-radius: .3rem;
    cursor: pointer;
    font-size: .8rem;
    line-height: .5;
    padding: .5rem .5rem;
}
.btn-save {
    background-color: lime; 
}
.btn-save:hover {
    background-color: limegreen; 
}
.btn-cancel {
    background-color: hotpink;
}
.btn-cancel:hover {
    background-color: #f0278c;
}
.btn-cancel:active {
    background-color: red;
}
.button-toolbar {
    margin-top: 2rem;
}
.add-row-button {
    background-color: black;
    color: lightgoldenrodyellow;
    cursor: pointer;
}
.showHideButton {
    float: right;
    font-size: x-small;
    text-align: right;
    vertical-align: top;
}
.showHideBtnBar {
    margin-bottom: 1.5rem;
    margin-right: 3rem;
}

/* ======= Media Rules ======= */

/* Override article defaults in styles_all.css */
/* Narrow Width: minimal padding */
@media only screen and (max-width: 500px) {
    .article {
	    padding: .5rem 0rem;
    }
    .collectionBox {
        padding: 1rem 0rem;
    }
    .itemBox {
        padding: 1rem 0rem;
    }
    .itemDesc {
        padding: .5rem;
    }
    .notesBox {
        margin: .25rem;
    }
    .notesBar {
        padding: .25rem;
    }
    .itemNotes {
        padding: 0rem 1rem 0rem 0rem;
    }
    ul {
        padding-inline-start: 30px;
    }
}
/* Medium Width: flexible padding */
@media only screen and (min-width: 500px) {
    .bar_header {
        padding: 1rem 10%;
    }
    .article {
	    padding: 1rem 10%;
    }
    .collectionBox {
        padding: 1rem 0rem;
    }
    .itemBox {
        padding: 1rem 0rem;
    }
    .itemDesc {
        padding: .5rem;
    }
    .notesBox {
        margin: .5rem;
    }
    .notesBar {
        padding: .25rem;
    }
    .itemNotes {
        padding: 0rem 1rem 0rem 0rem;
    }
    ul {
        padding-inline-start: 30px;
    }

}
/* Large Width: fix content width */
@media only screen and (min-width: 900px) {
    .bar_header {
        margin: auto;
        width: 700px;
    }
    .article {
        margin: auto;
        width: 700px;
    }
}
