{% extends "base.html" %}

{% block content %}

<div id="flagranch">

    <p>$150 per person. Proceeds benefit the ranch. You can purchase tickets via the link below. Please do so by September 20.</p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="5D4WYAN7J9GEW" />
        <input type="hidden" name="on0" value="How many tickets would you like to purchase?"/>
            <p>How many tickets would you like to purchase?</p>
            <p><select name="os0" style=
                    "border-radius: 5px; 
                    border-color:#a04240; 
                    color: #a04240; 
                    padding: 10px; 
                    font-size: larger">
                <option value="One">
                  One $150.00 USD
                </option>
                <option value="Two">
                  Two $300.00 USD
                </option>
                <option value="Three">
                  Three $450.00 USD
                </option>
                <option value="Four">
                  Four $600.00 USD
                </option>
            </select></p>
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="http://exultoshores.com/labels/static/pbutton.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Buy Now" />
    </form>

    <p>If you need more tickets, please repeat the purchase process.</p>
    <p style="font-size: smaller">Closer to the event, we will email you the tax-deductible sum for each ticket, our address in NE Paso Robles, parking and other details. We would prefer not to give refunds, but email us if you have unexpected circumstances arise.</p>
</div>


<header id=mainHeader>
	<h1 style="padding-top:300px;">IGNORE THIS BELOW</h1>
</header>

<header id=mainHeader>
	<h1>About The Flailing Baker</h1>
</header>

<article>
    <p>
    </p>
    <HR>
    <HR>

    <p>The Flailing Baker is the personal baking website of Alan Isaacs.
    </p>

    <p>First off, I LOVE 100% whole wheat sourdough bread: the rich,
        nutty, earthy flavor, the enticing sourness, the moist, chewy
        texture, the utter overwhelming <em>pleasure</em> of a mouthful 
        of warm wonderfulness accentuated by a salty pat of butter.
    </p>

    <p>And I LOVE baking: inhaling the aroma of fresh wheat that rises when 
        flour meets water, coaxing the right stretchiness from a ball of
        dough, marveling at the flouffy magic that happy yeast works on
        what would otherwise be just batter.
    </p>

    <p>What a joy and wonder is bread, to create and devour!</p>

    <p>So I'd love to just explain how to create a fullproof loaf every
        time. Yet ... I did put "flailing" in the name of this site,
        because, as it turns out,
        making that perfect loaf of bread turns out to be HARD.
    </p>

    <p>Usually with recipes, I bring my inner scientist to the fore:
         I tweak and tweak and tweak until FINALLY
        I achieve perfection: a sequence of steps that, when followed
        precisely, result in a repeatable product.
    </p>

    <p>With bread baking, well, it's not so simple. Tweak one thing and 
        something else changes; tweak nothing and things change anyway. 
        The number of variables is daunting (see the recipe), to say the 
        least.
    </p>
    <p>
        Working with 100% whole wheat flour is especially tricky. Adding a 
        portion of white flour does make it easier to achieve a nice 
        airy loaf, but at a sacrifice (for me anyway) of flavor. Okay, 
        maybe I'm a bit stubborn on that point.
    </p>

    <p>The key thing is, I don't want "flailing" to come across
        as negative. That process, trying again and again, two steps
        forward, two steps back—there is <em>dignity</em> in it, even
        <em>honor</em>. It is the process of being human. And it is
        the scientist learning <em>humility</em>.
    </p>

    <p>To put it another way, I'm a scientist struggling to become an
        artist, and that's a worthwhile vocation, a necessary one, if
        one is to become more whole.
    </p>

    <p>The goal of The Flailing Baker then is to chronicle the journey
        I'm on with flour, water, salt and yeast, to describe 
        the joys and sorrows, the pleasure and pain . . . well, I'm 
        getting a little carried away. Mostly the journey involves
        eating lots of yummy bread; catastrophies are rare.
    </p>

    <p>Finally, I hope too
        that other bakers might find their pathways smoothed a bit by
        my own experiences. Onward!
    </p>

    <p>For more about me, see the about page on TFB's sister site,
        <a href="http://exultoshores.com/about">Exult O Shores</a>.
    </p>

</article>

{% endblock %}