<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="The Flailing Baker">
    <meta name="keywords" content="sourdough whole-wheat bread">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Flailing Baker</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles_all.css') }}">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_tfb.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Spectral|Libre+Baskerville|Open+Sans">
	<script src="{{ url_for('static', filename='scripts_all.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts_tfb.js') }}"></script>
</head>

<body>
    <div id="body_wrap">
        <header id="main_header">
            <div id="main_title">
               The Flailing Baker
            </div>
            <nav id="nav_bar">
                <div class="nav_item">
                    <a href="http://exultoshores.com">EOS</a>
                </div>
                <div class="nav_item">
                    <a href="/">Home</a>
                </div>
                <!-- <div class="nav_item">
                    <a href="/blog">Blog</a>
                </div>
                <div class="nav_item">
                    <a href="/insights">Insights</a>
                </div>
                <div class="nav_item">
                    <a href="/loaflog">Loaflog</a>
                </div> -->
                <div class="nav_item">
                    <a href="/recipe">Recipe</a>
                </div>
                <div class="nav_item">
                    <a href="/recipe/tools">Tools</a>
                </div>
                <div class="nav_item">
                    <a href="/recipe/schedule">Schedule</a>
                </div>
                <div class="nav_item">
                    <a href="/about">About</a>
                </div>
                {% if current_user.is_authenticated %}
                Welcome {{ current_user.username }}!
                    <div class="nav_item">
                        <a href="/logout">Log Out</a>
                    </div>
                    {% else %}
                    <div class="nav_item">
                        <a href="/login">Log In</a>
                    </div>
                {% endif %}
        </header>

        <section id="main_section">
            <div class="flash_messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            
            {% block content %}
            {% endblock %}
        </section>

        <footer id="main_footer">
			<script>show_footer()</script>
        </footer>
    </div>

</body>

</html>
