<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="The Flailing Baker">
    <meta name="keywords" content="sourdough whole-wheat bread">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Flailing Baker</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles_all.css') }}">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_tfb.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Spectral|Libre+Baskerville|Open+Sans">
	<script src="{{ url_for('static', filename='scripts_all.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts_tfb.js') }}"></script>
</head>

<body>
    <div id="bodyWrap">
        <header id="siteTitle">The Flailing Baker</header>
            <nav>
                <ul>
                <li>
                    <a href="http://exultoshores.com">EOS</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <!-- <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/insights">Insights</a>
                </li>
                <li>
                    <a href="/loaflog">Loaflog</a>
                </li> -->
                <li>
                    <a href="/recipe">Recipe</a>
                </li>
                <li>
                    <a href="/recipe/tools">Tools</a>
                </li>
                <li>
                    <a href="/recipe/schedule">Schedule</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li>
                        Welcome {{ current_user.username }}!
                    </li>
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/login">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <section id=notifications>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>
        
        <main>
            
            {% block content %}
            {% endblock %}
            
        </main>

        <footer id=pageFooter>
			<script>showPageFooter()</script>
        </footer>
    </div>

</body>

</html>
