{% extends "base.html" %}

{% block content %}

<header id=mainHeader>
	<h1>Schedule</h1>
</header>

<div class=article>
    <div class=articleIntro>
        <p>Scheduling when to work on baking a loaf of bread can be a
            bit tricky; for an overnight loaf, especially, make sure
            you're available when the dough needs you.
        </p>
        <p>The first hour of fermenting requires folding every 10 
            minutes, so make sure you set aside that time. Otherwise
            most of the time is waiting patiently for magic to happen.
        </p>
        <p>Here are some guidelines to get you started. Note that 1) 
            many variables will affect timing, and that 2) deviating 
            from a schedule (oops, I forgot we were proofing!) is 
            usually uncatastrophic and may prove educational.
        </p>
        <p>Remember also to let the baked bread sit at least an hour.
            Hot bread from the oven tends to be more gummy than divine 
            (but give it a try sometime just for fun!).
        </p>
    </div>

    <table>
        <thead>
            <tr>
                <th>Step</th>
                <th>Overnight Loaf Timing</th>
                <th>Daytime Loaf Timing</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Autolyse</td>
                <td>Start 7:00pm<br>
                    Duration: 25 minutes</td>
                <td>Start 10:00am<br>
                    Duration: 25 minutes</td>
            </tr>
            <tr>
                <td>2. Mix</td>
                <td>Start 7:25pm<br>
                    Duration: 5 minutes</td>
                <td>Start 10:25am<br>
                    Duration: 5 minutes</td>
            </tr>
            <tr>
                <td>3. Ferment/Fold</td>
                <td>Start 7:30pm<br>
                    Duration: 15 hours</td>
                <td>Start 10:30am<br>
                    Duration: 3 hours</td>
            </tr>
            <tr>
                <td>4. Shape</td>
                <td>Start 10:30am<br>
                    Duration: 5 minutes</td>
                <td>Start 1:30pm<br>
                    Duration: 5 minutes</td>
            </tr>
            <tr>
                <td>5. Proof</td>
                <td>Start 10:35am<br>
                    Duration: 3 hours</td>
                <td>Start 1:30pm<br>
                    Duration: 1 hour 15 minutes</td>
            </tr>
            <tr>
                <td>6. Bake</td>
                <td>Start 1:35pm<br>
                    Duration: 45 minutes</td>
                <td>Start 2:45pm<br>
                    Duration: 45 minutes</td>
            </tr>
            <tr>
                <td>Completion</td>
                <td>END 2:20pm<br>
                    TOTAL TIME: 19 hours 20 minutes</td>
                <td>END 3:30pm<br>
                    TOTAL TIME: 5 hours 30 minutes</td>
            </tr>
        </tbody>
    </table>

    <h3>Timing the Sourdough Starter</h3>

    <p>I usually make two loaves a week, so I don't want to have to 
        feed my starter (Izzy, pronouns they/them) every day. In between 
        feedings I keep Izzy in the refrigerator, but that means I 
        have to warm them up and give them at least one feed so they are
        at a ravenous peak when I let them loose on the dough.
    </p>
    <p>The schedule looks something like the following, assuming
        roughly 6-7 hours to get from feeding to peak. Note I'm 
        aligning the Harvest Goal time with the Autolyse recipe step
        for convenience (I set Izzy next to the Autolyse so they have
        a little time to get to know each other before the Mix step).
    </p>

    <table>
        <thead>
            <tr>
                <th>Step</th>
                <th>Overnight Loaf Timing</th>
                <th>Daytime Loaf Timing</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Remove from Fridge and <br>
                    Sit on Counter at Room Temperature
                </td>
                <td><em>DAY BEFORE MIXING</em><br>
                    Remove: Bedtime<br>
                    Sit: Overnight</td>
                <td><em>DAY BEFORE MIXING</em><br>
                    Remove: 5-10 hours before bedtime<br>
                    Sit: 5 hours</td>
            </tr>
            <tr>
                <td>2. Feed and Let Expand</td>
                <td><em>DAY OF MIXING</em><br>
                    Feed #1: 7am-ish<br>
                    Feed #2: 1pm-ish<br>
                    Duration: 6 hours each feed</td>
                <td><em>DAY BEFORE MIXING</em><br>
                    Feed #1: Bedtime<br>
                    Duration: 8-ish hours<br>
                    <em>DAY OF MIXING</em><br>
                    Feed #2 (Optional): 7am-ish<br>
                    Duration: 3 hours</td>
            </tr>
            <tr>
                <td>3. Add a Portion to the Dough,<br>
                    Aligning with the Mix Step in the Recipe
                </td>
                <td><em>DAY OF MIXING</em><br>
                    Harvest Time: 7:00pm</td>
                <td><em>DAY OF MIXING</em><br>
                    Harvest Time: 10:00am</td>
            </tr>
            <tr>
                <td>4. Feed Again and Return to the Fridge
                </td>
                <td><em>DAY OF MIXING</em><br>
                    Back to Fridge: 11:00pm</td>
                <td><em>DAY OF MIXING</em><br>
                    Back to Fridge: 2:00pm</td>
            </tr>
        </tbody>
    </table>

    <p>Keys to remember</p>
    <ul><li>For the Overnight Loaf, get the starter out of
        the fridge before you go to bed the day before baking,
         and <em>feed when you get up</em> (if
        you want to get two feedings in; otherwise, just feed in the 
        morning sometime)</li>
        <li>For the Daytime Loaf, get the starter out of the fridge the
            day before baking and <em>feed before you go to bed</em>.
        </li>
    </ul>
    </p>
    <p>Final note: I feed the remaining Izzy right after adding a
        portion to the autolyse for mixing and let them get a good
        party going, 4-5 hours, before putting them back in the cooler.
    </p>
    <p>Final Final note: Sourdough starter is a resilent bunch. Mixing 
        with dough straight from the fridge means they'll take longer
        to get going, but they'll get it done. Accidentally letting 
        them sit out overnight after the post-harvest feeding—no problem,
        just give them an extra feeding to express proper contrition.
    </p>

</div>

{% endblock %}