{% extends "base.html" %}

{% block content %}

<script>

function create_tools() {
    // Translate db object into JavaScript for processing
    let ts = [];
    let t = {};
    {% for tool in tools %}
        t = {};
        // Use tojson filter to keep tags as they are in db
        t.id = {{ tool.id|tojson }};
        t.name = {{ tool.name|tojson }};
        t.description = {{ tool.description|tojson }};
        t.notes = {{ tool.notes|tojson }};
        ts.push(t);
    {% endfor %}
    return ts;
}

function display_tools_as_table() {
    let tools_all = create_tools();
	let tbl = document.getElementById("tools");
	set_table(tbl, tools_all, 'id', 'name', 'description', 'notes');
    init_editing('tools');
}

function clearClip() {
    navigator.clipboard.writeText("").then(function() {
        alert("clipboard cleared");
    }, function() {
        alert("clipboard write failed");
    });
}

function readClip() {
    navigator.permissions.query({name: "clipboard-write"}).then(result => {
        if (result.state == "granted" || result.state == "prompt") {
            console.log("clipboard is writable");
        }
    });
    navigator.clipboard.readText().then(text => outputElem.innerText = text);
    navigator.clipboard.readText().then(text => {
        alert("clipboard contains" + text);
    }, function() {
        alert("clipboard read failed");
    });
}

</script>

<div class=bar_header>Tools</div>
<button><a href="/recipe/tools">Done Editing</a></button>
<button onclick=clearClip()>Clear Clipboard</button>
<button onclick=readClip()>Read Clipboard</button>
<div class=article>
    <div class=table_header>Tools</div>
    <table id=tools></table>
</div>
<button><a href="/recipe/tools">Done Editing</a></button>
<script>display_tools_as_table()</script>

{% endblock %}