{% extends "base.html" %}

{% block content %}

<script>

function create_tools() {
    // Translate db object into JavaScript for processing
    let ts = [];
    let t = {};
    {% for tool in tools %}
        t = {};
        // Use tojson filter to keep tags as they are in db
        t.id = {{ tool.id|tojson }};
        t.name = {{ tool.name|tojson }};
        t.description = {{ tool.description|tojson }};
        t.notes = {{ tool.notes|tojson }};
        ts.push(t);
    {% endfor %}
    return ts;
}

function init_display_tools() {
    let tools_all = create_tools();
    display_tools(tools_all);
}

</script>

<div class=bar_header>Tools
    <!-- TODO: REMOVE THIS DEVELOPMENT CODE -->
    <div id=debugDisplay style='display: inline'></div>
</div>
<div class=article>
    <div class=articleIntro>
        All of these have many possible substitutes&mdash;
        I'm just listing out my current set.
    </div>
    <div class=articleNav>
        <button class='articleBtn' 
            onclick="toggleShowAllNotes()">
            Show/Hide All Notes</button>
        {% if current_user.is_authenticated %}
            <button class='articleBtn' 
                onclick="window.location.href='/recipe/tools_edit'">
                Edit Data</button>
        {% endif %}
    </div>
    <div id=toolBox></div>
</div>
<script>init_display_tools()</script>
<script>
    // TODO: REMOVE THIS DEVELOPMENT CODE
    function showWidth() {
        document.getElementById('debugDisplay').innerHTML = 
            window.innerWidth;
    }
    showWidth();
    window.addEventListener('resize', showWidth);
</script>
{% endblock %}