{% extends "base.html" %}

{% block content %}

<script>

function create_tools() {
    // Translate db object into JavaScript for processing
    let ts = [];
    let t = {};
    {% for tool in tools %}
        t = {};
        // Use tojson filter to keep tags as they are in db
        t.id = {{ tool.id|tojson }};
        t.name = {{ tool.name|tojson }};
        t.description = {{ tool.description|tojson }};
        t.notes = {{ tool.notes|tojson }};
        ts.push(t);
    {% endfor %}
    return ts;
}

function display_tools_as_table() {
    let tools_all = create_tools();
	let tbl = document.getElementById("tools");
	set_table(tbl, tools_all, 'id', 'name', 'description', 'notes');
    init_editing('tools');
}

</script>

<header id=mainHeader>
	<h1>Edit Tools</h1>
</header>
<div class=posLeftOfVP>
    <button><a href="/recipe/tools">Done Editing</a></button>
    <div class=table_header>Tools</div>
    <table id=tools></table>
    <button><a href="/recipe/tools">Done Editing</a></button>
</div>
<script>
    // Move the footer so it is a child of the div around the table
    // Otherwise the footer will render on top of the table
    // because the table is absolute positioned
    window.addEventListener('DOMContentLoaded', () => {
        const pf = document.getElementById('pageFooter');
        const tableWrapper = document.querySelector('.posLeftOfVP');
        tableWrapper.appendChild(pf);
    });
    display_tools_as_table()
</script>

{% endblock %}